@import '../config';

.contactPage {
  height: 200px;
  width: 100%;
  display: block;
  flex-direction: column;
  text-align: center;
  background-image: url("/images/pages/base/contact/Contacts background.jpg");
  color: $white;

  .contactSocial {
    margin: auto;

    .contactSocial--text {
      font-size: 25px;
    }

    .contactSocial--links {

      .contactSocial--link {
        .contactSocial--icon {
          color: $white;
          width: 50px;
          height: 50px;
          margin: 20px;
        }
      }

    }
  }


}