.event {
  display: block;
  height: fit-content;
  background-image: url("/images/pages/base/event/Evento - Background.jpg");
  padding-top: 300px;
  padding-bottom: 200px;
  
  .eventpage_content {
    .eventpage-content-left {
      .innerTitle-title_0 {
        color: $red;
        margin-bottom: 20px;
        font-weight: 700;
        margin-left: 50px;
      }
      .innerSection-paragraph {
        color: $darkBlue;
        font-size: medium;
        margin-left: 50px;
        line-height: 30px;
      }
    }
  }
}
