@import '../config';

.fundingPage {
  height: 100vh;
  justify-content: center;
  display: flex;
  position: relative;
  min-height: 480px;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: end;
}