@import '../config';

.fundingPage {
  display: block;
  height: 200px;
}

.img_fundingPage {
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
}