@import '../config';

.funding {
  display: block;
  width: 100%;
  background-image: url("/images/pages/base/funding/Apoios background.jpg");
  background-size: cover;
  height: 600px;

  .funding-container {
    
    .funding-layout-left {
      display: inline;
      float: left;
      width: 50%;
      padding-top: 200px;
      padding-left: 50px;
      
      .funding-layout-leftBody-paragraph {
        margin-top: 50px;
        color: white;
      }
    }
    
    .funding-layout-right {
      
      display: inline;
      float: right;
      width: 50%;
      img {
        display: inline;
        max-height: 600px;
      }
    }
  }
  
}
