// Media
@media screen and (max-width: 650px) {
  .homepage_content {
    max-width: 100%;
    display: block;
    justify-items: center;
    padding-top: 92px;
    z-index: 1;
    margin-left: calc((99.99% - 20px)*0 +16px);
    -webkit-box-flex: 0;
    -webkit-box-direction: normal;
    flex: 0 0 auto;
    width: calc((99.99% - 20px)*1 - 12px);
    grid-template-areas: 
      'logo'
      'title'
      'content'
      'info'
      'location'
      'meta';
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 600px;
    background-size: auto 80%;
    background-repeat: no-repeat;

  }
}

@media only screen and (max-width: 999px) and (min-width: 650px) {
  .rail_items {
    pointer-events: auto;
    width: 100%;
    white-space: nowrap;
  }
}
