@import '../config';

.main {
  margin-top: 30px; /* to avoid content overlay */
}

// Homepage

.homepage_panel {
  height: 100vh;
  justify-content: center;
  display: flex;
  position: relative;
  min-height: 480px;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: end;

  &::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    content: "";
    pointer-events: none;
  }
}
     
.homepage_content {
  justify-content: center;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
  flex-direction: column;
  min-height: 480px;
  position: relative;
}

.homepage_panel_title {
  background: transparent !important;
  line-height: 0 !important;
  color: transparent !important;
  font-size: 0 !important;
}

.tittleSection_0 {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  background: transparent;
  padding: 0;
  height: auto;
  line-height: normal !important;
  margin: 0 !important;
  font-size: 48px !important;
  color: $white;
  font-family: sans-serif;
  font-weight: bold;
}

.tittleSection_1 {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  background: transparent;
  padding: 0;
  height: auto;
  line-height: normal !important;
  margin: 8px;
  font-size: 18px !important;
  color: $white;
  font-family: sans-serif;
  font-weight: 400;

}

.innerSection {
  background-color: $dark_blue;
  padding: 6px 12px;
  margin: -6px;
  width: fit-content;
  border-radius: 6px;

}


// Media
@media screen and (max-width: 650px) {
  .homepage_content {
    max-width: 100%;
    display: block;
    justify-items: center;
    padding-top: 92px;
    z-index: 1;
    margin-left: calc((99.99% - 20px)*0 +16px);
    -webkit-box-flex: 0;
    -webkit-box-direction: normal;
    flex: 0 0 auto;
    width: calc((99.99% - 20px)*1 - 12px);
    grid-template-areas: 
      'logo'
      'title'
      'content'
      'info'
      'location'
      'meta';
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 600px;
    background-size: auto 80%;
    background-repeat: no-repeat;

  }
}

@media only screen and (max-width: 999px) and (min-width: 650px) {
  .rail_items {
    pointer-events: auto;
    width: 100%;
    white-space: nowrap;
  }
}