@import '../config';

// Homepage

.homepage_panel {
  height: 100vh;
  justify-content: center;
  display: flex;
  position: relative;
  min-height: 480px;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: end;
}

.img_homePage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
}

// Media
@media screen and (max-width: 650px) {
  .homepage_content {
    max-width: 100%;
    display: block;
    justify-items: center;
    padding-top: 92px;
    z-index: 1;
    margin-left: calc((99.99% - 20px)*0 +16px);
    -webkit-box-flex: 0;
    -webkit-box-direction: normal;
    flex: 0 0 auto;
    width: calc((99.99% - 20px)*1 - 12px);
    grid-template-areas: 
      'logo'
      'title'
      'content'
      'info'
      'location'
      'meta';
    grid-template-columns: auto;
    grid-template-rows: auto;
    height: 600px;
    background-size: auto 80%;
    background-repeat: no-repeat;

  }
}

@media only screen and (max-width: 999px) and (min-width: 650px) {
  .rail_items {
    pointer-events: auto;
    width: 100%;
    white-space: nowrap;
  }
}