@import '../config';

.program {
  padding-top: 40px;
  display: block;
  width: 100%;
  height: 1200px;
  background-image: url("/images/pages/base/program/Programa background.jpg");
  height: fit-content;
  z-index: 1;

  .program--container {
    position: relative;
    margin-bottom: 20px;

    .program--subscribe {
      .program--subscribeIcon {
        height: 60px;
        position: absolute;
        bottom: 13%;

        width: fit-content;
      }      

     

    }
  }


  @media screen and (min-width: 850px) {
    background-size: contain;
    .program--container {
      display: inline-table;
      width: 50%;
    }
  }

  @media screen and (max-width: 850px) {
    background-size: cover;
    .program--container {
      position: relative;
    }
  }
}
