.program {
  padding-top: 40px;
  display: block;
  width: 100%;
  background-image: url("/images/pages/base/funding/Apoios background.jpg");
  background-size: contain;
  height: fit-content;
  @media screen and (min-width: 850px) {
    .left_container {
      display: inline-table;
      width: 50%;
      img {
        display: block;
        width: 60%;
        margin: auto;
      }
    }
    .right_container {
      display: inline-table;
      width: 50%;
      img {
        display: block;
        width: 60%;
        margin: auto;
      }
    }
  }

  @media screen and (max-width: 850px) {
    .left_container {
      display: block;
      img {
        width: 95%;
        margin: auto;
      }
    }
    .right_container {
      display: block;
      img {
        width: 95%;
        margin: auto;
      }
    }
  }

}
