footer {
    width: 100%;
    display: inline-block;
    margin: 2em 0;
    height: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.wrap-container {
    
   
}

.container-left {
    
}

.container-right {
    
  
}

.img_partner {
    height: 60px;
    width: 60px;
    top: 60px; left: 20px; right: 30px;
    @include translateY(-50%);
    z-index: 3;
    cursor: pointer;
}

.img_logo-right {
    height: 80px;
    width: 80px;
    top: 60px; left: 20px; right: 30px;
    @include translateY(-50%);
    z-index: 3;
    cursor: pointer;
}

.container-text {
    font-size: 600;
    justify-content: right;
};

