@import '../config';
@import '../components/dropdown.scss';

header {
  position: fixed;
  width: 100%;
}

#js-menu,
.navbar {
  z-index: 1;
  float: right;  
}


.main-nav {
  list-style-type: none;
  display: none;
  text-align: center;
  margin-top: 2px;
}

.nav-links {
  display: block;
  color: $white;
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  font-size: 15px;
  text-shadow: 0px 0px 6px #e54c2e;
}

.shifting, .nav-links:hover {
  color: $white;
  opacity: 50%;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  font-size: 17px;
  
}

.logo {
  display: inline-block;
  font-size: 18px;
  margin-top: 40px;
  margin-left: 4px;
  
  .logo_navBar {
    height: 80px;
    width: 80px;
    @include translateY(-50%);
    z-index: 2;
    cursor: pointer;
  }
}

.nav-links i {
  margin-right: 0.3px;
}

.nav-links i {
  font-size: 1.1rem;
  transform: rotate(-90deg);
  transition: .5s;
}

.nav-links:hover i, .dropdown-link:hover i {
  transform: rotate(360deg);
}

.dropdown i {
  font-size: 1rem;
  transition: .5s;
}

.nav-links:hover > .dropdown, .dropdown-link:hover > .dropdown {
  display: block;
}

.navbar-toggle {
  position: relative;
  display: flex;
  cursor: pointer;
  color: $white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $red;
  transition: all 50ms ease-in-out;
  justify-content: center;
  align-items: center;
  margin: 10px;
  float: right;
}

// Burguer icon
.menu-btn_burguer {
  width: 27px;
  height: 3px;
  border-radius: 4px;
  background: $white;
  box-shadow: 0 2px 5px $red;
  transition: all 0.3s ease-in-out;
}

.menu-btn_burguer::before,
.menu-btn_burguer::after {
  content: '';
  position: absolute;
  width: 27px;
  height: 3px;
  border-radius: 4px;
  background: $white;
  box-shadow: 0 2px 5px $red;
  transition: all 0.3s ease-in-out;
  
}

.menu-btn_burguer::before {
  transform: translateY(-10px);
  
}

.menu-btn_burguer::after {
  transform: translateY(10px);
  
}

// Animation Burguer
.navbar-toggle.open .menu-btn_burguer {
  background: transparent;
  box-shadow: $red;
}

.navbar-toggle.open .menu-btn_burguer::before {
  
  transform: rotate(45deg) 
}

.navbar-toggle.open .menu-btn_burguer::after {
  
  transform: rotate(135deg) 
}


.shifting, .nav-links:hover {
  color: $white;
  opacity: 50%;
}

#nav-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}

.active {
  display: block;
  background-color: $darkBlue;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  
}

#js-menu.active {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 100%;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

#nav-overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: -1;
}


@media only screen and (min-width: 768px) {

  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
      top: 400px;
  }

  
  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
  }

  .nav-links {
      margin-left: 40px;
  }

  .nav-links i {
    margin-right: 0.3px;
  }
  
  

  .logo {
    display: inline-block;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 4px;
    
    .logo_navBar {
      height: 100px;
      width: 100px;
      @include translateY(-50%);
      z-index: 2;
      cursor: pointer;
    }
  }

  .navbar-toggle {
      display: none;
  }

  .nav-links:hover > .dropdown, .dropdown-link:hover > .dropdown {
    transform: (0, 0);
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links:hover {
      color: $white; 
  }

  #js-menu.active {
    background-color: transparent;
    box-shadow: none;
  }

  #nav-overlay.active {
    display: none;
  }

  .nav-links i {
    margin-left: 0.4rem;
  }
}

