@import '../config';

header {
  position: fixed;
  width: 100%;
  
}

#js-menu,
.navbar {
  z-index: 3;
  float: right;
}

.main-nav {
  list-style-type: none;
  display: none;
  text-align: center;
  
}

.nav-links {
  display: block;
  color: $white;
  padding: 0.5rem 0.5rem;
  font-weight: 600;
  font-size: 15px;
  text-shadow: 0px 0px 6px #e54c2e;
}

.shifting, .nav-links:hover {
  color: $white;
  opacity: 50%;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  font-size: 17px;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  
  .logo_navBar {
    height: 120px;
    width: 120px;
    top: 60px; left: 20px; right: 30px;
    @include translateY(-50%);
    z-index: 4;
    cursor: pointer;
  }
}

.navbar-toggle {
  position: relative;
  display: flex;
  cursor: pointer;
  color: $white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $red;
  transition: all .5s ease-in-out;
  justify-content: center;
  align-items: center;
  margin: 10px;
  float: right;
  
}

// Burguer icon
.menu-btn_burguer {
  width: 27px;
  height: 3px;
  border-radius: 4px;
  background: $white;
  box-shadow: 0 2px 5px $red;
  transition: all .5s ease-in-out;  
 
}
.menu-btn_burguer::before,
.menu-btn_burguer::after {
  content: '';
  position: absolute;
  width: 27px;
  height: 3px;
  border-radius: 4px;
  background: $white;
  box-shadow: 0 2px 5px $red;
  transition: all .5s ease-in-out;
}

.menu-btn_burguer::before {
  transform: translateY(-10px);
}

.menu-btn_burguer::after {
  transform: translateY(10px)
}

// Animation Burguer
.navbar-toggle.open .menu-btn_burguer {
  background: transparent;
  box-shadow: $red;
}

.navbar-toggle.open .menu-btn_burguer::before {
  
  transform: rotate(45deg) 
}

.navbar-toggle.open .menu-btn_burguer::after {
  
  transform: rotate(135deg) 
}


.shifting, .nav-links:hover {
  color: $white;
  opacity: 50%;
}

.active {
    display: block;
}




@media only screen and (min-width: 768px) {

  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
      top: 400px;
  }

  
  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
      

  }

  .nav-links {
      margin-left: 40px;
      
  }

  .logo {
      margin-top: 10px;
  }

  .navbar-toggle {
      display: none;
  }

  
  .nav-links:hover {
      color: $white; 
  }
}